{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}
	<div class="banner_bottom">
		<div class="donate-inner">
			<div class="donate-info">
				<div class="row text-center">
							<br><br>
						<h2>
							What is My Allowance?
						</h2>
						<div class="col-sm-12">
							<br><br>
							<p>
								My Allowance is an online chore and allowance platform with a reward system for parents to teach their children practically the fundamental basics (i.e. earning, saving, budgeting, giving, spending and sharing) they need to know about money. Think of it as your child’s first job.
							</p>
						</div>
						<!-- HR -->
						<div class="col-sm-6 offset-sm-3">
							<br><br>
						</div>

						<div class="col-sm-12">
							<h2>How is it helpful to my child?</h2>
							<br><br>
							<p>
								Money management is one of the key skills we need to teach children. As children grow, they need to learn how to make smart decisions with money. It is only through work that we can teach children to understand the value money and not least, how money and work relate. It is true that financial habits and work practices formed early in life can influence behavior in adulthood.
							</p>
						</div>

						<!-- HR -->
						<div class="col-sm-6 offset-sm-3">
							<br><br>
						</div>

						<div class="col-sm-12">
							<h2>How much does it cost to join? </h2>
							<br><br>
						<p>
							It is free to join.
						</p>	
						</div>

						<!-- HR -->
						<div class="col-sm-6 offset-sm-3">
							<br><br>
						</div>

						<div class="col-sm-12">
							<h2>Where can I get the app?</h2>
							<br><br>
						<p>
							You can get the my allowance app from the Google play store for Android. 
						</p>	
						</div>

						<!-- HR -->
						<div class="col-sm-6 offset-sm-3">
							<br><br>
						</div>

						<div class="col-sm-12">
							<h2>Where are we located?</h2>
							<br><br>
						<p>
							Lico Holdings Building , Opposite shell, Kireka Room A33  
						</p>	
						</div>

				</div>
			</div>
		</div>
	</div>
{% endblock %}