{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}
	<section class="wrapper works container">
		<div class="col-sm-12" style="color: #888888">
			<div class="col-sm-8" >
				<div class="col-sm-12" style="background: url({% static 'assets/images/featured/Washing-Dishes-6.jpg' %}); height: 350px; background-repeat: none; background-size: cover;">
					&nbsp;
				</div>
				<!-- <img class="img" style="width: 60%" src="{% static 'assets/images/featured/Washing-Dishes-6.jpg' %}"> -->
				<h3>
					Jobs that put children first
				</h3>
				<hr>
				<p style="color: #d0d0d0">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
				</div>
			
			<div class="col-sm-4">
				
				<div class="col-sm-12">
					<div class="signup-form bg-inverse">
					    <div style="padding: 4%">
					    	<form action="/examples/actions/confirmation.php" method="post">
							<h2>Join Today</h2>
							<p class="hint-text">Create your account. It's free and only takes a minute.</p>
					        <div class="form-group">
								<div class="row">
									<div class="col-md-6"><input type="text" class="form-control" name="first_name" placeholder="First Name" required="required"></div>
									<div class="col-md-6"><input type="text" class="form-control" name="last_name" placeholder="Last Name" required="required"></div>
								</div>        	
					        </div>
					        <div class="form-group">
					        	<input type="email" class="form-control" name="email" placeholder="Email" required="required">
					        </div>
							<div class="form-group">
					            <input type="password" class="form-control" name="password" placeholder="Password" required="required">
					        </div>
							<div class="form-group">
					            <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password" required="required">
					        </div>        
					       <!--  <div class="form-group">
								<label class="checkbox-inline"><input type="checkbox" required="required"> I accept the <a href="#">Terms of Use</a> &amp; <a href="#">Privacy Policy</a></label>
							</div> -->
							<div class="form-group">
					            <button type="submit" class="btn btn-success btn-lg btn-block">Register Now</button>
					        </div>
						<div class="text-center">Already have an account? <a href="#"><br><small>Sign in</small></a></div>
					    </form>
					    </div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="banner_bottom special container" style="padding: 0; height: 100px; margin-top: -7%">
		<!-- <div class="row"> -->
			<div class="col-md-4 text-center">

				<section>
					<span class="icon featured fa-check"></span>
					<header>
						<h3>Transparency</h3>
					</header>
					<p>Track your child’s money habits anytime anywhere at the simple tap of a button</p>
				</section>

			</div>
			<div class="col-md-4 text-center">

				<section>
					<span class="icon featured fa-check"></span>
					<header>
						<h3>Innovative</h3>
					</header>
					<p>The idea of experiential learning means replacing chalk and talk pedagogy with problem- based and project- based learning.  Using digital infrastructure, we combine simultaneously the need for financial literacy and financial inclusion to accommodate the growing youth segment.</p>
				</section>

			</div>
			<div class="col-md-4 text-center">

				<section>
					<span class="icon featured fa-check"></span>
					<header>
						<h3>Affordability</h3>
					</header>
					<p>We respect children’s inability to open and run high cost accounts. This means, we use a child friendly approach that suits their little pockets with greater freedom and access  </p>
				</section>

			</div>
		<!-- </div> -->
	</section>

	<section class="row banner_bottom donate-log contatiner wrapper">
		
		<div class="col-sm-12 text-center">
			<h3 class="text-center">
				Let's get you earning <br><br>
			</h3><h6 class="text-center text-lowercase">It's Easy</h6>
			<br>

		</div>	

		<!-- <div class="col-sm-12" style="padding: 0">
			<div class="col-sm-6 offset-md-3">
				<hr>
			</div>
		</div> -->
		
		<div class="col-sm-12 text-center">
			<div class="col-md-4 text-center" style="vertical-align: middle;">
				<div class="">
					<i class='fa fa-user step'></i><br>
					<!-- <strong><h3>1<br><p> ___________________ </p></h3></strong>
 		-->
					<br>
					<p>
						Get the app and register online
					</p>
					
				</div>
			</div>
			<div class="col-md-4 text-center">
				<div class="">
					<i class='fa fa-search step'></i><br>
					<!-- <strong><h3>2<br><p> ___________________ </p></h3></strong> -->
					<br>

					<p>
						Find the job you parent wants you to do
					</p>
				</div>
			</div>
			<div class="col-md-4 text-center">
				<div class="">
					<i class='fa fa-dollar step'></i><br>
					<!-- <strong><h3>3<br><p> ___________________ </p></h3></strong> -->
					<br>

					<p>
						Do it well, Get paid
					</p>
				</div>
			</div>
		</div>
	</section>
	<section class="wrapper style1 container">
		<div class="col-sm-12 text-center">
			<h3>
				Why Children 
			</h3><br><br>
			<div class="col-sm-12" style="height: 300px!important; background: url('{% static 'assets/images/featured/why_children.jpg' %}'); background-repeat: none; background-size: cover;">
				
			<!-- <img src="{% static 'assets/images/featured/why_children.jpg' %}" class="img img-rounded" alt="" width="100%" style="position: absolute;"> -->
			</div>
			<div class="col-sm-12 text-left">
				
				<p style="padding: 1% font-size: 15px; "><br> <br>
					Poverty is one of the reasons why the majority of the children worldwide are deprived of many of their rights. Uganda  has  one  of the  fastest growing populations globally 3.4% annually and  has  the  second most  youthful population in the  world with a median age of just  15.7 years  old. The National Financial  Inclusion Strategy  (NFIS) 2017-2022 which is Uganda’s holistic  strategy for promoting financial inclusion places emphasis on these pillars: Reduce  financial exclusion and  barriers to access financial services, Build the  digital  infrastructure, Deepen and  broaden formal  savings,  investment and  insurance usage.
				</p>
				<p><br>
					Kids as young as 9 regularly accumulate money but do not know how to actively manage it, and need a safe place to save it. Building online  digital and  business infrastructure can  improve proximity and  bring the would be  harder-to-reach  clients into the financial system at potentially  lower  costs.
				</p>
				<p>
					We believe that the development of financial management skills will lead to an increased tendency among youths to, create businesses of their own, and become good decision makers able to meet future goals – all of which have broader implications for reducing poverty.
				</p>
			</div>
			
		</div>
	</section>

{% endblock %}